Программа должна работать со стандартными судоку размеров 9x9, 16x16, 25x25
Возможность загрузить судоку из файла
Возможность настроить судоку
    изменить размер 9x9, 16x16, 25x25
    подсвечивать четные числа
Возможность добавить (записать), удалить, изменить число в судоку
Возможность проверить правильно ли запичаны числа в судоку
Возможность увидеть судоку на экране
